* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONTS  */

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gradient-text {
  background: linear-gradient(90deg, #b4b4b4, #252525);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.nav-link-hover {
  position: relative;
  display: inline-block;
}

.nav-link-hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

.nav-link-hover:hover::after {
  width: 100%;
}

.logo-hover {
  display: inline-block;
  transition: transform 0.4s ease-in-out;
}

.logo-hover:hover {
  transform: rotate(20deg);
}


.glass-effect {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

/* ABOUTME */

:root {
  --header-h: 60px;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

.main-under-header {
  min-height: calc(100vh - var(--header-h));
  padding-top: calc(var(--header-h) + 16px);
}

.aboutme-img {
  height: clamp(360px, 65vh, 700px);
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}